<!--<ion-view>-->
<!--<ion-nav-title>sddadssd</ion-nav-title>-->

<!--<ion-content class="padding">-->

<!--<h4>HIII</h4>-->

<!--</ion-content>-->

<!--</ion-view>-->
<ion-view hide-nav-bar="true">
  <ion-content class="scroll-content2">
    <div >
      <div class="padding  animated bounceInLeft">
        <div class="list">
          <ion-md-input placeholder="Username" ng-model="email" highlight-color="balanced" type="text"></ion-md-input>
          <ion-md-input placeholder="Password" ng-model="password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
          <button class="button button-block button-positive"
                  ng-click="login()">Login
          </button>
        </div>
        <label style=""
      </div>
    </div>
  </ion-content>
</ion-view>
