<ion-view>
  <ion-nav-title>{{section.sectionTitle}}</ion-nav-title>

  <!--<ion-nav-bar class="bar-positive nav-title-slide-ios7">-->
    <!--<ion-nav-back-button class="">-->
      <!--<i class="ion-arrow-left-c"></i>-->

    <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
  <ion-content class="has-header">
    <!--<ion-view>-->

      <!--<ion-content class="padding">-->

        <div class="list">
          <section datasource="section"></section>

        </div>

      <!--</ion-content>-->

    <!--</ion-view>-->
  </ion-content>
</ion-view>
