<ion-view>
  <ion-nav-title>{{section.sectionTitle}}</ion-nav-title>

  <!--<ion-nav-buttons side="right">-->
    <!--<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content class="has-header">
    <!--<ion-view>-->

      <!--<ion-content class="padding">-->

        <div class="list">
          <section datasource="section"></section>

        </div>

      <!--</ion-content>-->

    <!--</ion-view>-->
  </ion-content>
</ion-view>
