
div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

.nav-bar-title {
  margin-left:20px;
}


@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 50% 0; }
}


.animate-area	{

}


.scroll-content2{
  background: url(../img/mountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: animatedBackground 10s linear;
}

.back-button{z-index:5;}
